.container{
    margin: 5px auto; /*eje X y eje Y*/
    .titulo{
        margin: 5px auto; /*eje X y eje Y*/
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
    justify-items: center;

    Link:hover{
        color: green; 
    }

    section{
        display: flex;
        flex-direction: column;
        justify-items: center;

        h2{
            margin: 5px auto /*eje X y eje Y*/
        }
    }
}

